<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao bootstrap</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h1>Começando com bootstrap</h1>
        <div class="row text-center">
            <div class="bloco col-md-2">
                1
            </div>
            <div class="bloco col-md-2">
                2
            </div>
            <div class="bloco col-md-2">
                3
            </div>
            <div class="bloco col-md-2">
                4
            </div>
            <div class="bloco col-md-2">
                5
            </div>
            <div class="bloco col-md-2">
                6
            </div>
            <div class="bloco col-md-4">
                6
            </div>
            <div class="bloco col-md-4">
                7
            </div>
            <div class="bloco col-md-4">
                8
            </div>
            <div class="bloco col-md-6">
                10
            </div>  
            <div class="bloco col-md-6">
                11
            </div>
            <div class="bloco col-md-12">
                12
            </div>
        </div>
    </div>

    <section class="mt-4">
        <div class="container">
            <div class="info row text-center pt-3 justify-content-center align-content-center">
                <div class="col-6 col-md-6 col-lg-6 col-xl-3">
                    <div class="caixa mb-2">1</div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-xl-3">
                    <div class="caixa mb-2">2</div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-xl-3">
                    <div class="caixa mb-2">3</div>
                </div>
                <div class="col-6 col-md-6 col-lg-6 col-xl-3">
                    <div class="caixa mb-2">4</div>
                </div>
                
            </div>
        </div>
    </section>
    
</body>
</html>