<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <style type="text/css">
        .tela{
            height: 100vh;
        }
    </style>
</head>

<body style="background-color: gray;">

    <section class="container">
        <div class="row tela justify-content-center align-content-center">
            <div class="col-9 bg-black  rounded-4 py-5">
                <h1 class="text-white text-center">Acessar</h1>
                <form>
                    <div class="mb-3 text-start">
                        <label for="exampleInputEmail1" class="form-label ms-2 text-white">Email</label>
                        <input type="email" placeholder="Insira seu email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="exampleInputPassword1" class="form-label ms-2 text-white">Senha</label>
                        <input type="password" placeholder="Insira sua senha" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-success ms-3 px-3 py-2">Logar</button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>