body{
    background-color: rgb(32, 15, 54);
}

#corpo{
    background-color: antiquewhite;
}

.coluna{
    height: 100vh;
}

.logText{
    font-size: 7vh;
}

.translucido{
    background-color: rgba(255, 255, 255, 0.04);
}

.algo .invalid-tooltip{
    right: 0;
}

