<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de convidados</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/bootstrap.min.js">
    <style type="text/css">
        .tela{
            height: 100vh;
        }
    </style>
</head>

<body class="bg-secondary bg-gradient">
    <section class="container bg-white">
        <div class="row tela justify-content-center pt-5">
            <div class="col-9">
                <div class="input-group mb-3 mt-5">
                    <input type="text" class="form-control" placeholder="Buscar convidado" aria-label="Buscar convidado" aria-describedby="button-addon2">
                    <button class="btn btn-outline-primary px-4 py-2" type="button" id="button-addon2">Buscar</button>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead class="table-dark table-group-divider">
                            <tr>
                                <th class="col-9" scope="col">Nome</th>
                                <th scope="col">Confirmar Entrada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorenzo</td>
                                <td>
                                    <select class="form-select" aria-label="Default select example" style="border: none; background:none;">
                                        <option selected>Confirmar</option>
                                        <option value="1">Presente</option>
                                        <option value="2">Não presente</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Jão</td>
                                <td>
                                    <select class="form-select" aria-label="Default select example" style="border: none; background:none;">
                                        <option selected>Confirmar</option>
                                        <option value="1">Presente</option>
                                        <option value="2">Não presente</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Luis</td>
                                <td>
                                    <select class="form-select" aria-label="Default select example" style="border: none; background:none;">
                                        <option selected>Confirmar</option>
                                        <option value="1">Presente</option>
                                        <option value="2">Não presente</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </section>   
</body>
</html>