<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lua - Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    
    <section class="container">
        <div class="row text-center justify-content-center align-content-center" style="height: 100vh;">
            <div class="bloco col-5 rounded-start-4">
                <img  class="img-fluid" src="moon.png" alt="lua">
            </div>
            <div class="bg-white col-4 rounded-end-4">
                
                <div class="col-4 mt-3 ms-2 text-start">
                    <h2 class=" mb-0 fw-normal">Hello!</h2>
                </div>
                <div class="col-11 text-start ms-2">
                    <h3 class=" fw-semibold">Good Morning</h3>
                </div>
                <div class="col-11 mt-5">
                    <h4><em class="fw-bold">Login</em> your account</h4>
                </div>
                <div class="col-8 ps-3 text-start mb-2 mt-4 ms-5">
                    <label for="nome" class="form-label fs-6">Username</label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="col-8 ps-3 text-start ms-5">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="password">
                </div>
                <div class="col-8 ps-3 ms-5 text-end mt-2">
                    <h8>forgot password?</h8>
                </div>
                <div class="col-8 bg-pri ms-5 rounded-4">
                    Login
                </div>

                
            </div>
        </div>
        
    </section>

</body>
</html>