<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de convidados</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="chart.umd.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <style type="text/css">
        .tela{
            height: 100vh;
        }
    </style>
</head>

<body class="bg-gradient">
    <header class="container">
        <div class="col-12 align-content-center py-xxl-3 mb-3 d-flex bg-light py-2">
            <h6 class="mt-2 fs-5 fw-bold mx-3">Sistema</h6>
            <h6 class="mt-2 fs-5 mx-3">Dashboard</h6>
            <h6 class="mt-2 fs-5 mx-3"><a class="text-decoration-none text-black" target="_blank" href="convidados.html">Convidados</a></h6>
            <h6 class="mt-2 fs-5 mx-3"><a class="text-decoration-none text-black" target="_blank" href="users.html">Usuários</a></h6>
            <h6 class="btn text-white bg-danger ms-2 mt-1">Sair</h6>
        </div>
    </header>

    <section class="container">
        <div class="row tela justify-content-center align-content-center">
            <div class="col-6 col-xxl-8 bg-light">
                <form class="my-auto p-3">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">CPF</label>
                        <input class="form-control" placeholder="000.000.000-00" oninput="mascara(this)" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Nome</label>
                        <input type="text" name="nome" class="form-control" id="formGroupExampleInput2" placeholder="Digite seu nome">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="formGroupExampleInput" placeholder="placeholder@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Telefone</label>
                        <input id="telefone" type="text" name="telefone" onkeyup="mascaraFone(event)" class="form-control" placeholder="(00) 90000-0000">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Mesa</label>
                        <input class="form-control" type="text" name="mesa">
                    </div>
                    <button class="btn bg-success" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </section>
    
    <script type="text/javascript" src="script.js"></script>
</body>