/* CABEÇALHO */

header{
    width: 100%;
    background-color: #eaccad;
    overflow: hidden;
    /* position: fixed; */
    height: 10%;
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1; */
    border: 1px solid red;

}

header a{
    text-decoration: none;
    color: #96305a;
    font-size: 30px;
    float: left;
    margin: 0% 5%;
    padding: 1%;
    border: 1px solid red;
}

header a:hover{
    background-color: #e4bb92;
}


/* CORPO */

body{
    margin: 0px;
    padding: 0px;
    background-color: #f3dbc3;
}

/* SEÇÃO 1 */

#SJ{
    text-align: center;
    font-size: 80px;
}